#conteiner-register{
    background-color: #f2f6f9;
}

#registerForm{
    margin-top: 80px;
    margin-bottom: 80px;
}

#account-line {
    margin: 0;
    padding: 0;
}

#site-rules-title{
    font-size: 12px;
    font-weight: lighter;
}

#linkTologin{
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
}

.linkBtn{
    margin: 0;
    padding: 0;
    font-size: 13px;
    padding-bottom: 5px;
}