.footer {
  background-attachment: fixed;
  position: relative;
  line-height: 20px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.footer nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.footer nav > ul > li{
  display: inline-block;
  padding: 10px 15px;
  margin: 15px 3px;
  line-height: 20px;
  text-align: center;
}

.footer nav > ul a:not(.btn) {
  color: #777777;
  display: block;
  margin-bottom: 3px;
  line-height: 1.6;
  opacity: .8;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}
.footer nav > ul a:not(.btn):hover,
.footer nav > ul a:not(.btn):focus {
  color: #777777;
  opacity: 1;
}
.footer .copyright {
  color: #777777;
  padding: 10px 0;
  font-size: 14px;
  margin: 15px 3px;
  line-height: 20px;
  text-align: center;
}
.footer .heart {
  color: #dc3545;
  animation: heathing 1s ease infinite,;
}

@keyframes heathing {
  0% { transform: scale( .75 ); }
  20% { transform: scale( 1 ); }
  40% { transform: scale( .75 ); }
  60% { transform: scale( 1 ); }
  80% { transform: scale( .75 ); }
  100% { transform: scale( .75 ); }
}

.footer{
  background-color: #FFFFFE;
  line-height: 36px;

  &.footer-black{
    h4{
      color: #FFFFFE;
    }
  }

  .links{
    display: inline-block;

    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      font-weight: 600;

      > li{
        display: inline-block;
        padding-right: 20px;
      }
      > li:last-child{
        padding-right: 0;
      }

      a:not(.btn){
        color: #000000;
        display: block;
        font-size: 0.9em;
        margin-bottom: 3px;
        &:hover,
        &:focus{
          color: #403D39;
        }
      }

      &.uppercase-links{
        text-transform: uppercase;
      }
      &.stacked-links{
        margin-top: 10px;

        > li{
          display: block;
          line-height: 26px;
        }
        h4{
          margin-top: 0;
        }
      }
    }
  }

  hr{
    border-color: #DDDDDD;
    border-width: 1px 0 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .copyright{
    color: #A49E9E;
    font-size: 0.9em;
    ul > li{
      padding-right: 0;
    }
  }
  .title{
    color: #403D39;
  }
}
