<footer class="footer">
  <div class="row w-100 justify-content-between">
    <nav class="footer-nav">
      <ul>
        <li><a href="https://gitlab.com/kv-050.net/wtp">Backend Repo</a></li>
        <li><a href="https://gitlab.com/kv-050.net/wtp-ui">Frontend Repo</a></li>
      </ul>
    </nav>
    <div class="credits">
                <span class="copyright">
                    © {{d | date: 'yyyy'}}, Made with <i
                  class="fas fa-heart heart"></i> Kv-50.Net <i class="far fa-smile-wink"></i>
                </span>
    </div>
  </div>
</footer>
