<div class="row">
  <div class="col">
    <div class="d-inline-block game-dropdown" ngbDropdown>

      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><img
        src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698904-icon-23-star-32.png">
        {{selectedGame.name}}
      </button>

      <div aria-labelledby="dropdownBasic1" ngbDropdownMenu>
        <button (click)="setCurrentGame(games[i])" *ngFor="let item of games; index as i" ngbDropdownItem>
          {{games[i].name}}
        </button>
      </div>
    </div>
  </div>
</div>
