<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block game-dropdown">

      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><img
          src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698904-icon-23-star-32.png">
        {{selectedGame.name}}
      </button>

      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let item of games; index as i" ngbDropdownItem (click)="setCurrentGame(games[i])">
          {{games[i].name}}
        </button>
      </div>
    </div>
  </div>
</div>
