<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698904-icon-23-star-32.png" >{{games[0].name}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>{{games[0].name}}</button>
          <button *ngIf="games[1]" ngbDropdownItem disabled="disabled">{{games[1].name}}</button>
          <button *ngIf="games[2]" ngbDropdownItem disabled="disabled">{{games[2].name}}</button>
        </div>
      </div>
    </div>
  </div>