<ejs-grid #grid [dataSource]='data' [editSettings]='editSettings' [toolbar]='toolbar' [allowPaging]='true' (load)='load()' (actionComplete)='actionComplete($event)'
[pageSettings]='initialPage' (toolbarClick)='toolbarClick($event)'
[allowSorting]='true' [allowFiltering]='true' [filterSettings]='filterOption'>
    <e-columns>
        <e-column field='id' headerText='User ID' isPrimaryKey='true' [validationRules]='userIDRules' width=120></e-column>
        <e-column field='userName' headerText='User Name' width=150 [validationRules]='userNameRules'></e-column>
        <e-column field='email' headerText='User Email' width=150 [validationRules]='userEmailRules'></e-column>
    </e-columns>
    </ejs-grid>