.form-control{
    width: 100%;
}

.nickname-block{
    width: 100%;
    align-items: center;
    display: flex;
    padding: 7px;
}

.nickname-filter{
    margin-top: 20px;
}

.sort-block{
    margin-top: 10px;
    padding: 10px;
}

.members-filter{
    margin-top: 10px;
}

.members-slider{
    padding: 10px;
}

.pageSize{
    margin-left: 10px;
}

#lingvoSelect{
    width: 100%;
}

#goals-filter{
    padding: 10px;
}