<hr id="account-line">
<div class="container" id="container-forgotPassword">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">

      <div class="form-group" id="resetPasswordForm">
        <h4>Reset Your password!</h4><br>
        
        <form [formGroup]="formModelResetPassword" autocomplete="off" (submit)="onSubmit()">
          
          <div class="form-group required">
            <label>New Password*</label>
            <input type="password" class="form-control" formControlName="newPassword">
            <small id="passwordHelp" class="form-text text-muted">
              Minimum 6 characters. Maximum 16 characters.</small>
            <label class="text-danger"
              *ngIf="formModelResetPassword.get('newPassword').touched && formModelResetPassword.get('newPassword').errors?.required">
              This field is mandatory.</label>
            <label class="text-danger"
              *ngIf="formModelResetPassword.get('newPassword').touched && formModelResetPassword.get('newPassword').errors?.minlength">
              Minimum 6 characters required.</label>
            <label class="text-danger"
              *ngIf="formModelResetPassword.get('newPassword').touched && formModelResetPassword.get('newPassword').errors?.pattern">
              Password can contain at least 1 lowercase, 1 uppercase alphabetical character, and at least 1 numeric character</label>
          </div>

          <div class="form-group required">
             <label>Confirm Password*</label>
             <input type="password" class="form-control" formControlName="confirmPassword">
             <label class="text-danger"
              *ngIf="formModelResetPassword.get('confirmPassword').touched && formModelResetPassword.get('confirmPassword').errors?.required">
              This field is mandatory.</label>
             <label class="text-danger"
              *ngIf="formModelResetPassword.get('confirmPassword').touched && formModelResetPassword.get('confirmPassword').errors?.passwordMismatch">
              Confirm Password does not match.</label>
          </div>

          <div class="form-group" id="sub">
            <button type="submit" class="btn btn-primary" [disabled]="!formModelResetPassword.valid">
              Submit</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<hr id="account-line">