<hr id="account-line">
<div class="container" id="container-reset-password">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="form-group" id="resetPasswordForm">

          <h3>Reset Your password!</h3><br>

          <form [formGroup]="formModelResetPassword" autocomplete="off" (submit)="onSubmit()">
            
          <div formGroupName="Passwords">

              <div class="form-group required">
                <label>New Password*</label>
                <input type="password" class="form-control" formControlName="Password">
                <small id="passwordHelp" class="form-text text-muted">Minimum 6 characters. Maximum 16 characters.</small>
                <label class="text-danger"
                  *ngIf="formModelResetPassword.get('Passwords.Password').touched && formModelResetPassword.get('Passwords.Password').errors?.required">This
                  field is mandatory.</label>
                <label class="text-danger"
                  *ngIf="formModelResetPassword.get('Passwords.Password').touched && formModelResetPassword.get('Passwords.Password').errors?.minlength">Minimum
                  6 characters required.</label>
                <label class="text-danger"
                  *ngIf="formModelResetPassword.get('Passwords.Password').touched && formModelResetPassword.get('Passwords.Password').errors?.pattern">Password
                  can contain at least 1 lowercase, 1 uppercase alphabetical character, and at least 1 numeric
                  character</label>
              </div>
  
              <div class="form-group required">
                <label>Confirm Password*</label>
                <input type="password" class="form-control" formControlName="ConfirmPassword">
                <label class="text-danger"
                  *ngIf="formModelResetPassword.get('Passwords.ConfirmPassword').touched && formModelResetPassword.get('Passwords.ConfirmPassword').errors?.required">This
                  field is mandatory.</label>
                <label class="text-danger"
                  *ngIf="formModelResetPassword.get('Passwords.ConfirmPassword').touched && formModelResetPassword.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm
                  Password does not match.</label>
              </div>
              
            </div>
            
            <div class="form-group">
              <button type="submit" class="btn btn-primary" [disabled]="!formModelResetPassword.valid">Submit</button>
            </div>

          </form>

      </div>
    </div>
  </div>
</div>