<hr id="account-line">
<div class="container" id="container-forgotPassword">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">

      <div class="form-group" id="resetPasswordForm">
        <h4>Reset Your password!</h4><br>

        <form (submit)="onSubmit()" [formGroup]="formModelResetPassword" autocomplete="off">

          <div class="form-group required">
            <label>New Password*</label>
            <input class="form-control" formControlName="newPassword" type="password">
            <small class="form-text text-muted" id="passwordHelp">
              Minimum 6 characters. Maximum 16 characters.
            </small>
            <label *ngIf="formModelResetPassword.get('newPassword').touched && formModelResetPassword.get('newPassword').errors?.required"
                   class="text-danger">
              This field is mandatory.</label>
            <label *ngIf="formModelResetPassword.get('newPassword').touched && formModelResetPassword.get('newPassword').errors?.minlength"
                   class="text-danger">
              Minimum 6 characters required.</label>
            <label *ngIf="formModelResetPassword.get('newPassword').touched && formModelResetPassword.get('newPassword').errors?.pattern"
                   class="text-danger">
              Password can contain at least 1 lowercase, 1 uppercase alphabetical character, and at least 1 numeric
              character</label>
          </div>

          <div class="form-group required">
            <label>Confirm Password*</label>
            <input class="form-control" formControlName="confirmPassword" type="password">
            <label *ngIf="formModelResetPassword.get('confirmPassword').touched && formModelResetPassword.get('confirmPassword').errors?.required"
                   class="text-danger">
              This field is mandatory.</label>
            <label *ngIf="formModelResetPassword.get('confirmPassword').touched && formModelResetPassword.get('confirmPassword').errors?.passwordMismatch"
                   class="text-danger">
              Confirm Password does not match.</label>
          </div>

          <div class="form-group" id="sub">
            <button [disabled]="!formModelResetPassword.valid" class="btn btn-primary" type="submit">
              Submit
            </button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<hr id="account-line">
