<div class="row first-conteiner">

  <div class="col-12">
    <div class="card text-center" id="userCard">
      <div class="card-header">
        Teams Info
      </div>
      <div class="card-body">

        <form (submit)="onSubmit()" [formGroup]="formModelTeam" autocomplete="off">

          <div class="row justify-content-between">
            <div class="col-md-6 form-group required">
              <label class="labelLeft">Name*</label>
              <input class="form-control" formControlName="name"/>
              <small class="form-text text-muted" id="teamNameHelp">Teamrname must be 4-16 characters long.</small>
              <label *ngIf="formModelTeam.get('name').touched && formModelTeam.get('name').errors?.required"
                     class="text-danger">
                This field is mandatory.</label>
              <label *ngIf="formModelTeam.get('name').touched && formModelTeam.get('name').errors?.minlength"
                     class="text-danger">
                Minimum 4 characters required.</label>
              <label *ngIf="formModelTeam.get('name').touched && formModelTeam.get('name').errors?.maxlength"
                     class="text-danger">
                Maximum 16 characters required.</label>
            </div>

            <div class="col-md-6 form-group required">
              <label>Game*</label>
              <ng-multiselect-dropdown [data]="dropdownListGame" [placeholder]="'Choose game'" [settings]="dropdownSettingsGame"
                                       formControlName="game">
              </ng-multiselect-dropdown>
              <label *ngIf="formModelTeam.get('game').touched && formModelTeam.get('game').errors?.required"
                     class="text-danger">
                This field is mandatory.</label>
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="col-md-6 form-group required">
              <label>Server*</label>
              <ng-multiselect-dropdown [data]="dropdownListServer" [placeholder]="'Choose server'"
                                       [settings]="dropdownSettingsServer" formControlName="server">
              </ng-multiselect-dropdown>
              <label *ngIf="formModelTeam.get('server').touched && formModelTeam.get('server').errors?.required"
                     class="text-danger">
                This field is mandatory.</label>
            </div>

            <div class="col-md-6 form-group required">
              <label>Goal*</label>
              <ng-multiselect-dropdown [data]="dropdownListGoal" [placeholder]="'Choose goal'" [settings]="dropdownSettingsGoal"
                                       formControlName="goal">
              </ng-multiselect-dropdown>
              <label *ngIf="formModelTeam.get('goal').touched && formModelTeam.get('goal').errors?.required"
                     class="text-danger">
                This field is mandatory.</label>
            </div>
          </div>

          <!-- <div class="form-group required">
            <label>Language*</label>
            <ng-multiselect-dropdown formControlName="language" [placeholder]="'Choose language'"
              [data]="dropdownListLanguage" [settings]="dropdownSettingsLanguage">
            </ng-multiselect-dropdown>
            <label class="text-danger"
              *ngIf="formModelTeam.get('language').touched && formModelTeam.get('language').errors?.required">
              This field is mandatory.</label>
          </div> -->

          <div class="form-group center-elements">
            <button [disabled]="!formModelTeam.valid" class="btn btn-primary" id="create-button" type="submit">
              CREATE TEAM
            </button>
          </div>
        </form>

        <hr>
        <div class="center-elements">
          <button (click)="cancel()" class="btn btn-info" id="create-button">
            CANCEL
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
