<hr id="account-line">
<div *ngIf="isValid == false" class="container" id="containerProfile">
  <ngb-tabset>
    <ngb-tab title="User Profile">
      <ng-template ngbTabContent>
        <div class="row first-conteiner">

          <div class="col-12">
            <div class="card text-center" id="userCard">
              <div class="card-header">
                User Info
              </div>
              <div class="card-body">
                <div id="cardUploadAvatar">
                  <img alt="Profile avatar" id="avatarInProfile" src="{{userProfile.photo}}">
                </div>

                <form (submit)="onSubmit()" [formGroup]="formModelUser" autocomplete="off">

                  <div class="form-group" id="upload">
                    <div class="custom-file">
                      <input (change)="onFileChange($event)" aria-describedby="inputGroupFileAddon01" class="form-control custom-file-input"
                             type="file"/>
                      <label class="custom-file-label">UPDATE AVATAR</label>
                    </div>
                  </div>
                  <hr>

                  <div class="row justify-content-center">
                    <div class="col-md-6 form-group required">
                      <label class="labelLeft">Name*</label>
                      <input [(ngModel)]="userProfile.userName" class="form-control" formControlName="userName"/>
                      <small class="form-text text-muted" id="userNameHelp">
                        Username must be 4-16 characters long.
                      </small>
                      <label *ngIf="formModelUser.get('userName').touched && formModelUser.get('userName').errors?.required"
                             class="text-danger">
                        This field is mandatory.</label>
                      <label *ngIf="formModelUser.get('userName').touched && formModelUser.get('userName').errors?.minlength"
                             class="text-danger">
                        Minimum 4 characters required.</label>
                      <label *ngIf="formModelUser.get('userName').touched && formModelUser.get('userName').errors?.maxlength"
                             class="text-danger">
                        Maximum 16 characters required.</label>
                    </div>
                  </div>

                  <div class="row justify-content-between">
                    <div class="col-md-6 form-group required">
                      <label>Gender*</label>
                      <ng-multiselect-dropdown [(ngModel)]="selectedItemGender" [data]="dropdownListGenders"
                                               [placeholder]="'Choose gender'" [settings]="dropdownSettingsGenders"
                                               formControlName="gender">
                      </ng-multiselect-dropdown>
                      <label *ngIf="formModelUser.get('gender').touched && formModelUser.get('gender').errors?.required"
                             class="text-danger">
                        This field is mandatory.</label>
                    </div>

                    <div class="col-md-6 form-group required">
                      <label>Date of birth*</label>
                      <my-date-picker [(ngModel)]="model" [options]="myDatePickerOptions" [placeholder]="model" formControlName="dateOfBirth"
                                      id="piker" name="mydate"></my-date-picker>
                    </div>
                  </div>


                  <div class="row justify-content-between">
                    <div class="col-md-6 form-group required">
                      <label>Country*</label>
                      <ng-multiselect-dropdown [(ngModel)]="selectedItemCountry" [data]="dropdownListCountries"
                                               [placeholder]="'Choose country'" [settings]="dropdownSettingsCountries"
                                               formControlName="country">
                      </ng-multiselect-dropdown>
                      <label *ngIf="formModelUser.get('country').touched && formModelUser.get('country').errors?.required"
                             class="text-danger">
                        This field is mandatory.</label>
                    </div>

                    <div class="col-md-6 form-group required">
                      <label>Languages*</label>
                      <ng-multiselect-dropdown [(ngModel)]="selectedItemsLanguages" [data]="dropdownListLanguages"
                                               [placeholder]="'Choose language'" [settings]="dropdownSettingsLanguages"
                                               formControlName="languages"
                                               id="lingvoSelect">
                      </ng-multiselect-dropdown>
                      <label *ngIf="formModelUser.get('languages').touched && formModelUser.get('languages').errors?.required"
                             class="text-danger">
                        This field is mandatory.</label>
                    </div>
                  </div>
                  <br>
                  <div class="form-group center-elements">
                    <button [disabled]="!formModelUser.valid" class="btn btn-primary" id="create-button" type="submit">
                      SAVE CHANGES
                    </button>
                  </div>

                </form>
                <hr>

                <div class="container">
                  <div class="row">

                    <div class="col-md-6 center-elements">
                      <button class="btn btn-dark" id="create-button" routerLink="../account/changepassword">
                        CHANGE PASSWORD
                      </button>
                    </div>

                    <div class="col-md-6 center-elements">
                      <button (click)="performDelete()" class="btn btn-danger" id="create-button">
                        DELETE ACCOUNT
                      </button>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Player Profile">
      <ng-template ngbTabContent>
        <app-player-profile-list *ngIf="listOfPlayers"></app-player-profile-list>
        <app-player-profile-create *ngIf="createPlayer"></app-player-profile-create>
        <app-player-profile-edit *ngIf="editPlayer"></app-player-profile-edit>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Team Profile">
      <ng-template ngbTabContent>
        <app-team-profile-list *ngIf="listOfTeams"></app-team-profile-list>
        <app-team-profile-create *ngIf="createTeam"></app-team-profile-create>
        <app-team-profile-edit *ngIf="editTeam"></app-team-profile-edit>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
<hr id="account-line">
