<hr id="account-line">
<div class="container" id="containerProfile" *ngIf="isValid == false">
  <ngb-tabset>
    <ngb-tab title="User Profile">
      <ng-template ngbTabContent>
        <div class="row first-conteiner">

          <div class="col-12">
            <div class="card text-center" id="userCard">
              <div class="card-header">
                User Info
              </div>
              <div class="card-body">
                <div id="cardUploadAvatar">
                  <img src="{{userProfile.photo}}" id="avatarInProfile" alt="Profile avatar">
                </div>

                <form [formGroup]="formModelUser" autocomplete="off" (submit)="onSubmit()">

                  <div class="form-group" id="upload">
                    <div class="custom-file">
                      <input type="file" class="form-control custom-file-input" aria-describedby="inputGroupFileAddon01"
                        (change)="onFileChange($event)" />
                      <label class="custom-file-label">UPDATE AVATAR</label>
                    </div>
                  </div>
                  <hr>

                  <div class="row justify-content-between">
                    <div class="col-md-6 form-group required">
                      <label class="labelLeft">Username*</label>
                      <input class="form-control" formControlName="userName" [(ngModel)]="userProfile.userName" />
                      <small id="userNameHelp" class="form-text text-muted">
                        Username must be 4-16 characters long.
                      </small>
                      <label class="text-danger"
                        *ngIf="formModelUser.get('userName').touched && formModelUser.get('userName').errors?.required">
                        This field is mandatory.</label>
                      <label class="text-danger"
                        *ngIf="formModelUser.get('userName').touched && formModelUser.get('userName').errors?.minlength">
                        Minimum 4 characters required.</label>
                      <label class="text-danger"
                        *ngIf="formModelUser.get('userName').touched && formModelUser.get('userName').errors?.maxlength">
                        Maximum 16 characters required.</label>
                    </div>

                    <div class="col-md-6 form-group required">
                      <label>Date of birth*</label>
                      <my-date-picker id="piker" name="mydate" [placeholder]="model" [(ngModel)]="model"
                        [options]="myDatePickerOptions" formControlName="dateOfBirth"></my-date-picker>
                    </div>
                  </div>

                  <div class="row justify-content-between">
                    <div class="col-md-6 form-group required">
                      <label>Gender*</label>
                      <ng-multiselect-dropdown formControlName="gender" [placeholder]="'Choose gender'"
                        [data]="dropdownListGenders" [(ngModel)]="selectedItemGender"
                        [settings]="dropdownSettingsGenders">
                      </ng-multiselect-dropdown>
                      <label class="text-danger"
                        *ngIf="formModelUser.get('gender').touched && formModelUser.get('gender').errors?.required">
                        This field is mandatory.</label>
                    </div>

                    <div class="col-md-6 form-group required">
                      <label>Languages*</label>
                      <ng-multiselect-dropdown id="lingvoSelect" formControlName="languages"
                        [placeholder]="'Choose language'" [data]="dropdownListLanguages"
                        [(ngModel)]="selectedItemsLanguages" [settings]="dropdownSettingsLanguages">
                      </ng-multiselect-dropdown>
                      <label class="text-danger"
                        *ngIf="formModelUser.get('languages').touched && formModelUser.get('languages').errors?.required">
                        This field is mandatory.</label>
                    </div>
                  </div>


                  <div class="row justify-content-between">
                    <div class="col-md-6 form-group required">
                      <label>Country*</label>
                      <ng-multiselect-dropdown formControlName="country" [placeholder]="'Choose country'"
                        [data]="dropdownListCountries" [(ngModel)]="selectedItemCountry"
                        [settings]="dropdownSettingsCountries">
                      </ng-multiselect-dropdown>
                      <label class="text-danger"
                        *ngIf="formModelUser.get('country').touched && formModelUser.get('country').errors?.required">
                        This field is mandatory.</label>
                    </div>

                    <div class="col-md-6 form-group">
                      <label>Steam Account</label>
                      <input class="form-control" formControlName="steam" [(ngModel)]="userProfile.steam">
                    </div>
                  </div>

                  <div class="form-group center-elements">
                    <button id="create-button" type="submit" class="btn btn-primary" [disabled]="!formModelUser.valid">
                      SAVE CHANGES
                    </button>
                  </div>

                </form>
                <hr>

                <div class="container">
                  <div class="row">

                    <div class="col-md-6 center-elements">
                      <button id="create-button" class="btn btn-dark" routerLink="../account/changepassword">
                        CHANGE PASSWORD
                      </button>
                    </div>

                    <div class="col-md-6 center-elements">
                      <button id="create-button" class="btn btn-danger" (click)="performDelete()">
                        DELETE ACCOUNT
                      </button>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Player Profile">
      <ng-template ngbTabContent>
        <app-player-profile-list *ngIf="listOfPlayers"></app-player-profile-list>
        <app-player-profile *ngIf="createPlayer"></app-player-profile>
        <app-player-profile-edit *ngIf="editPlayer"></app-player-profile-edit>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Team Profile">
      <ng-template ngbTabContent>
        <app-team-profile-list *ngIf="listOfTeams"></app-team-profile-list>
        <app-team-profile-create *ngIf="createTeam"></app-team-profile-create>
        <app-team-profile-edit *ngIf="editTeam"></app-team-profile-edit>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
<hr id="account-line">
