#avatarInProfile{
    display: block;
    margin: 0 auto;
    width: 150px;
}

#containerProfile{
    background-color: #f2f6f9!important;
}

#account-line{
    margin: 0;
    padding: 0;
}

#cardUploadAvatar{
    display: block;
    margin: 0 auto;
    width: 250px;
    background: rgb(206, 231, 255);
    padding: 5px;
    border-radius: 25px;
    border: 1px solid rgb(224, 221, 221);
    margin-bottom: 10px;
}

#upload{
    display: block;
    margin: 0 auto;
    width: 250px;
    margin-bottom: 15px;
}

#userCard{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

div#userCard.card.text-center{
    text-align: left!important;
}

.card-header{
    text-align: center!important;
    font-weight: bold;
    size: 14px;
    margin: 0;
    padding: 10px;
    background-image: url(https://d6d90m6b4vcx.cloudfront.net/prod/release-2-3-2a6c9b6e/react-packages/static/media/statistics.8bf73563.png);
    background-size: cover;
    opacity: .9;
}

.first-conteiner {
    margin-right: 50px;
    margin-left: 50px;
}

#create-button {
    width: 50%;
}

.center-elements {
    text-align: center;
}