.first-conteiner {
  margin-right: 50px;
  margin-left: 50px;
}

#create-button {
  width: 50%;
}

.center-elements {
  text-align: center;
}

#userCard {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

div#userCard.card.text-center {
  text-align: left !important;
}

.card-header {
  text-align: center !important;
  font-weight: bold;
  size: 14px;
  margin: 0;
  padding: 10px;
  background-image: url(https://d6d90m6b4vcx.cloudfront.net/prod/release-2-3-2a6c9b6e/react-packages/static/media/statistics.8bf73563.png);
  background-size: cover;
  opacity: .9;
}

.action-button {
  background-color: transparent;
  border: none;
  color: blue;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.disabled-button {
  background-color: transparent;
  border: none;
  color: gray;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

table {
  border-collapse: collapse;
  width: 100%;
  padding: 2px;
}

th, td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  width: 19%;
}

.first-column {
  width: 5%;
}

.double-column {
  width: 38%;
}

tr:hover {
  background-color: #f5f5f5;
}

h3 {
  height: 40px;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 100%;
  color: #465457;
  background-color: rgb(226, 244, 255);
  margin: 0;
  padding: 8px 0 12px 0;
}
