<hr id="account-line">
<div class="conteiner" id="conteiner-changePassword">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="form-group" id="changePasswordForm">
                <h4>User registration</h4><br>
                    <form [formGroup]="formModelChangePassword" autocomplete="off" (submit)="onSubmit()">
                    <div formGroupName="Passwords">
                        <div class="form-group required">
                            <label>Current Password*</label>
                            <input type="password" class="form-control" formControlName="CurrentPassword">
                            <label class="text-danger"
                            *ngIf="formModelChangePassword.get('Passwords.CurrentPassword').touched && formModelChangePassword.get('Passwords.CurrentPassword').errors?.required">This
                field is mandatory.</label>
            </div>

            <div class="form-group required">
              <label>New Password*</label>
              <input type="password" class="form-control" formControlName="NewPassword">
              <small id="passwordHelp" class="form-text text-muted">Minimum 6 characters. Maximum 16 characters.</small>
              <label class="text-danger"
                *ngIf="formModelChangePassword.get('Passwords.NewPassword').touched && formModelChangePassword.get('Passwords.NewPassword').errors?.required">This
                field is mandatory.</label>
              <label class="text-danger"
                *ngIf="formModelChangePassword.get('Passwords.NewPassword').touched && formModelChangePassword.get('Passwords.NewPassword').errors?.minlength">Minimum
                6 characters required.</label>
              <label class="text-danger"
                *ngIf="formModelChangePassword.get('Passwords.NewPassword').touched && formModelChangePassword.get('Passwords.NewPassword').errors?.pattern">Password
                can contain at least 1 lowercase, 1 uppercase alphabetical character, and at least 1 numeric
                character</label>
            </div>

            <div class="form-group required">
              <label>Confirm Password*</label>
              <input type="password" class="form-control" formControlName="ConfirmPassword">
              <label class="text-danger"
                *ngIf="formModelChangePassword.get('Passwords.ConfirmPassword').touched && formModelChangePassword.get('Passwords.ConfirmPassword').errors?.required">This
                field is mandatory.</label>
              <label class="text-danger"
                *ngIf="formModelChangePassword.get('Passwords.ConfirmPassword').touched && formModelChangePassword.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm
                Password does not match.</label>
            </div>

          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!formModelChangePassword.valid">CHANGE PASSWORD</button>
          </div>
        </form>

        <div id="forgotPasswordLink">
            <a href="#">Forgot your password?</a></div>
      </div>
    </div>
  </div>
