<hr id="account-line">
<div class="conteiner" id="conteiner-changePassword">

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">

      <div class="form-group" id="changePasswordForm">
        <h4>Change Password</h4><br>

        <form [formGroup]="formModelChangePassword" autocomplete="off" (submit)="onSubmit()">

            <div class="form-group required">
              <label>Current Password*</label>
              <input type="password" class="form-control" formControlName="currentPassword">
              <label class="text-danger"
              *ngIf="formModelChangePassword.get('currentPassword').touched && formModelChangePassword.get('currentPassword').errors?.required">
              This field is mandatory.</label>
            </div>

            <div class="form-group required">
              <label>New Password*</label>
              <input type="password" class="form-control" formControlName="newPassword">
              <small id="passwordHelp" class="form-text text-muted">
                Minimum 6 characters. Maximum 16 characters.</small>
              <label class="text-danger"
                *ngIf="formModelChangePassword.get('newPassword').touched && formModelChangePassword.get('newPassword').errors?.required">
                This field is mandatory.</label>
              <label class="text-danger"
                *ngIf="formModelChangePassword.get('newPassword').touched && formModelChangePassword.get('newPassword').errors?.minlength">
                Minimum 6 characters required.</label>
              <label class="text-danger"
                *ngIf="formModelChangePassword.get('newPassword').touched && formModelChangePassword.get('newPassword').errors?.pattern">
                Password can contain at least 1 lowercase, 1 uppercase alphabetical character, and at least 1 numeric character</label>
            </div>
            
            <div class="form-group required">
              <label>Confirm Password*</label>
              <input type="password" class="form-control" formControlName="confirmPassword">
              <label class="text-danger"
                *ngIf="formModelChangePassword.get('confirmPassword').touched && formModelChangePassword.get('confirmPassword').errors?.required">
                This field is mandatory.</label>
              <label class="text-danger"
                *ngIf="formModelChangePassword.get('confirmPassword').touched && formModelChangePassword.get('confirmPassword').errors?.passwordMismatch">
                Confirm Password does not match.</label>
            </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!formModelChangePassword.valid">
              CHANGE PASSWORD</button>
          </div>

        </form>

        <div id="forgotPasswordLink">
          <a href="#">Forgot your password?</a>
        </div>

      </div>
    </div>
  </div>
</div>
<hr id="account-line">
