<div>
  <h2>Adding new user</h2>
  <form #userForm="ngForm">
    <div class="form-group">
      <label>Email</label>
      <input #userEmail="ngModel" [(ngModel)]="user.email" class="form-control" name="userEmail"
             pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required type="text"/>
      <div *ngIf="userEmail.errors?.required && userEmail.touched"
           class="alert alert-danger">
        Email is required!
      </div>
      <div *ngIf="userEmail.errors?.pattern && userEmail.touched"
           class="alert alert-danger">
        Email is invalid!
      </div>
    </div>
    <div class="form-group">
      <label>UserName(6-15 chars (only letters and numbers))</label>
      <input #nameOfUser="ngModel" [(ngModel)]="user.userName" class="form-control" name="nameOfUser" pattern="^[a-zA-Z0-9]{6,15}$"
             required type="text"/>
      <div *ngIf="nameOfUser.errors?.required && nameOfUser.touched"
           class="alert alert-danger">
        NameOfUser is required!
      </div>
      <div *ngIf="nameOfUser.errors?.pattern && nameOfUser.touched"
           class="alert alert-danger">
        NameOfUser is invalid!
      </div>
    </div>
    <div class="form-group">
      <label>Password(6-15 chars(allows only letters and numbers and ._%+-)</label>
      <input #userPassword="ngModel" [(ngModel)]="user.password" class="form-control" name="password"
             pattern="^[a-z0-9A-Z._%+-]{6,15}$" required type="password"/>
      <div *ngIf="userPassword.errors?.required && userPassword.touched"
           class="alert alert-danger">
        Password is required!
      </div>
      <div *ngIf="userPassword.errors?.pattern && userPassword.touched"
           class="alert alert-danger">
        Password is invalid!
      </div>
    </div>
    <div class="form-group">
      <button (click)="save()" [disabled]="userForm.form.invalid" class="btn btn-success" type="submit">Save</button>
      <a class="btn btn-warning" routerLink="/">Cancel</a>
    </div>
  </form>
</div>
