<ejs-grid #grid [dataSource]='data' [editSettings]='editSettings' [toolbar]='toolbar' [allowPaging]='true' (load)='load()'
[pageSettings]='initialPage'
[allowSorting]='true' [allowFiltering]='true' [filterSettings]='filterOption'>
    <e-columns>
        <e-column field='id' headerText='Record ID' width=120></e-column>
        <e-column field='dateOfOperation' headerText='Date' width=150></e-column>
        <e-column field='description' headerText='Description' width=150></e-column>
        <e-column field='previousUserEmail' headerText='PreviousUserEmail' width=150></e-column>
        <e-column field='previousUserName' headerText='PreviousUserName' width=150></e-column>
        <e-column field='newUserEmail' headerText='NewUserEmail' width=150></e-column>
        <e-column field='newUserName' headerText='NewUserName' width=150></e-column>
        <e-column field='appUserId' headerText='AppUserId' width=150></e-column>
        <e-column field='adminId' headerText='AdminId' width=150></e-column>
        <e-column field='operationId' headerText='OperationId' width=150></e-column>
    </e-columns>
    </ejs-grid>