<ejs-grid #grid [dataSource]='data' [editSettings]='editSettings' [toolbar]='toolbar' [allowPaging]='true' (load)='load()' (actionComplete)='actionComplete($event)'
[pageSettings]='initialPage' (toolbarClick)='toolbarClick($event)'
[allowSorting]='true' [allowFiltering]='true' [filterSettings]='filterOption'>
    <e-columns>
        <e-column field='id' headerText='Goal ID' isPrimaryKey='true' [validationRules]='goalIdRules' width=120></e-column>
        <e-column field='name' headerText='Goal Name' width=150 [validationRules]='goalNameRules'></e-column>
    </e-columns>
    </ejs-grid>