<div class="section-container">
  <h2>Games</h2>
  <div class="reglist">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Count of Players</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let game of Games; let i = index">
        <th scope="row">{{ game.id }}</th>
        <td>{{ game.name }}</td>
        <td>{{ game.playersCount }}</td>
        <td>{{ game.description}}</td>
        <td>
          <button (click)="onEdit(i)" class="btn btn-info" type="button">Edit</button>
        </td>
        <td>
          <button (click)="onDelete(i)" class="btn btn-danger" type="button">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="text-right">
      <button (click)="onNew()" class="btn btn-primary" type="submit">New</button>
    </div>
  </div>
  <br>
  <div *ngIf="showNew" class="regentry">
    <form #gameForm="ngForm" (ngSubmit)="onSave()">
      <div class="form-group row">
        <label class="col-2 col-form-label" for="name-input">Name</label>
        <div class="col-10">
          <input #nameOfGame="ngModel" [(ngModel)]="gameModel.name" class="form-control" name="nameOfGame" pattern="^[a-zA-Z 0-9]+$"
                 required type="text">
          <div *ngIf="nameOfGame.errors?.required && nameOfGame.touched"
               class="alert alert-danger">
            Name is required!
          </div>
          <div *ngIf="nameOfGame.errors?.pattern && nameOfGame.touched"
               class="alert alert-danger">
            Name is invalid!
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label" for="description-input">Description</label>
        <div class="col-10">
          <input #description="ngModel" [(ngModel)]="gameModel.description" class="form-control" name="description"
                 pattern="^[a-zA-Z 0-9.,!():?;]+$" required type="text">
          <div *ngIf="description.errors?.required && description.touched"
               class="alert alert-danger">
            Description is required!
          </div>
          <div *ngIf="description.errors?.pattern && description.touched"
               class="alert alert-danger">
            Description is invalid!
          </div>
        </div>
      </div>
      <button [disabled]="gameForm.form.invalid" class="btn btn-success" type="submit">{{submitType}}</button>
      <button (click)="onCancel()" class="btn btn-primary" type="submit">Cancel</button>
    </form>
  </div>
</div>
