<div class="row first-conteiner">
  <div class="col-12">
    <div class="card text-center" id="userCard">
      <div class="card-header">
        Teams Info
      </div>
      <div class="card-body">
        <div id="cardUploadAvatar">
          <img alt="Profile avatar" id="avatarInProfile" src="{{team.photo}}">
        </div>

        <form [formGroup]="formModelTeam" autocomplete="off">

          <div class="form-group" id="upload">
            <div class="custom-file">
              <input (change)="onFileChange($event)" aria-describedby="inputGroupFileAddon01" class="form-control custom-file-input"
                     type="file"/>
              <label class="custom-file-label">UPDATE LOGO</label>
            </div>
          </div>
          <hr>

          <div class="row justify-content-center">
            <div class="col-md-6 form-group required">
              <label class="labelLeft">Name*</label>
              <input [(ngModel)]="team.name" class="form-control" formControlName="name"/>
              <small class="form-text text-muted" id="teamNameHelp">Teamrname must be 4-16 characters long.</small>
              <label *ngIf="formModelTeam.get('name').touched && formModelTeam.get('name').errors?.required"
                     class="text-danger">
                This field is mandatory.</label>
              <label *ngIf="formModelTeam.get('name').touched && formModelTeam.get('name').errors?.minlength"
                     class="text-danger">
                Minimum 4 characters required.</label>
              <label *ngIf="formModelTeam.get('name').touched && formModelTeam.get('name').errors?.maxlength"
                     class="text-danger">
                Maximum 16 characters required.</label>
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="col-md-6 form-group required">
              <label>Server*</label>
              <ng-multiselect-dropdown [(ngModel)]="selectedServer" [data]="dropdownListServer"
                                       [placeholder]="'Choose server'" [settings]="dropdownSettingsServer"
                                       formControlName="server">
              </ng-multiselect-dropdown>
              <label *ngIf="formModelTeam.get('server').touched && formModelTeam.get('server').errors?.required"
                     class="text-danger">
                This field is mandatory.</label>
            </div>

            <div class="col-md-6 form-group required">
              <label>Goal*</label>
              <ng-multiselect-dropdown [(ngModel)]="selectedGoal" [data]="dropdownListGoal" [placeholder]="'Choose goal'"
                                       [settings]="dropdownSettingsGoal" formControlName="goal">
              </ng-multiselect-dropdown>
              <label *ngIf="formModelTeam.get('goal').touched && formModelTeam.get('goal').errors?.required"
                     class="text-danger">
                This field is mandatory.</label>
            </div>
          </div>

          <!-- <div class="form-group required">
            <label>Language*</label>
            <ng-multiselect-dropdown formControlName="language" [placeholder]="'Choose language'"
              [data]="dropdownListLanguage" [(ngModel)]="selectedLanguage" [settings]="dropdownSettingsLanguage">
            </ng-multiselect-dropdown>
            <label class="text-danger"
              *ngIf="formModelTeam.get('language').touched && formModelTeam.get('language').errors?.required">
              This field is mandatory.</label>
          </div> -->
          <div class="row justify-content-center">
            <div class="col-md-6 form-group center-elements">
              <label>Players:</label>
              <p *ngIf="team.players === undefined || team.players.length === 0" class="text-primary">
                There are no players yet!
              </p>
              <ng-container *ngIf="team.players !== undefined && team.players.length > 0">
                <table class="table-condensed">
                  <tbody>
                  <tr *ngFor="let item of team.players; index as i">
                    <td>{{ i + 1 }}</td>
                    <td><img id="avatar" src="{{item.photo}}">
                    </td>
                    <td>{{ item.name }}</td>
                    <td>
                      <button (click)="removePlayer(item.id)" class="action-button">
                        Remove
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </ng-container>
            </div>
          </div>

          <div class="form-group center-elements">
            <button (click)="onSubmit()" [disabled]="!formModelTeam.valid" class="btn btn-primary" id="create-button"
                    type="submit">
              UPDATE TEAM
            </button>
          </div>
        </form>

        <hr>
        <div class="center-elements">
          <button (click)="cancel()" class="btn btn-info" id="create-button">
            CANCEL
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
