<header>

    <div id="header-nav">
      <div class="container">
        <div class="row">
          <div class="col-lg col-md">
            <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #ffff;">
              <a class="navbar-brand" routerLink="/home" routerLinkActive="active"><img
                  src="https://cdn2.iconfinder.com/data/icons/harry-potter-colour-collection/60/09_-_Harry_Potter_-_Colour_-_Sirius_Black_Wolf-64.png"
                  width="40" height="40" alt=""><span id="mainlogo">WTP</span>
              </a>
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item navBtns">
                  <div class="dropdown">
                      <button  class="btn btn-link dropdown-toggle" id="gameButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698904-icon-23-star-32.png" >
                        <span >{{games[0].name}}</span>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <span class="dropdown-item">{{games[1].name}}</span>
                        <span class="dropdown-item">{{games[2].name}}</span>
                      </div>
                  </div>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">PLAYERS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">TEAMS</a>
                  </li> 
                 
              </ul>
              
              <!-- Login and register buttons or if user authorized - userName and avatar -->
              <app-account></app-account>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

</header>

<router-outlet></router-outlet>

<app-footer></app-footer>
