<header>

  <div id="header-nav">
    <div class="container">
      <div class="row">
        <div class="col-lg col-md">
          <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffff;">
            <a class="navbar-brand" routerLink="/home" routerLinkActive="active"><img
                src="https://cdn2.iconfinder.com/data/icons/harry-potter-colour-collection/60/09_-_Harry_Potter_-_Colour_-_Sirius_Black_Wolf-64.png"
                width="40" height="40" alt=""><span id="mainlogo">WTP</span>
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active" id="gameButton">
                  <a class="nav-link" href="#"><img id="smallStar" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698904-icon-23-star-32.png">GAME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">PLAYERS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">TEAMS</a>
                </li>
              </ul>

              <app-authdetails></app-authdetails>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

</header>
