
<section *ngIf="isUser; else admin">
  <header>

    <div id="header-nav">
      <div class="container">
        <div class="row">
          <div class="col-lg col-md">
            <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #ffff;">
              <a class="navbar-brand" routerLink="/home" routerLinkActive="active"><img
                  src="https://cdn2.iconfinder.com/data/icons/harry-potter-colour-collection/60/09_-_Harry_Potter_-_Colour_-_Sirius_Black_Wolf-64.png"
                  width="40" height="40" alt=""><span id="mainlogo">WTP</span>
              </a>
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item navBtns">
                  <app-game-switch-button> </app-game-switch-button>
                </li>
                  <li class="nav-item">
                    <span class="nav-link" (click)="navigateToPlayers()">PLAYERS</span>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="#">TEAMS</a>
                  </li>  -->
                 
              </ul>
              
              <!-- Login and register buttons or if user authorized - userName and avatar -->
              <app-account></app-account>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

</header>

<router-outlet></router-outlet>
</section>
<ng-template #admin>
  <!--The content below is only a placeholder and can be replaced.-->
<app-navbar
  id="navbar"
  class="navbar navbar-dark fixed-top bg-dark">
</app-navbar>

<div class="container-fluid">
  <div class="row" id="mainContent">
    <app-sidebar
      id="sideBar"
      class="col-sm-3 col-md-2 d-none d-sm-block sidebar">
    </app-sidebar>

    <div class="col-sm-9 ml-sm-auto col-md-10 pt-3" id="dashboard">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
</ng-template>
<app-footer></app-footer>
