<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/users/list">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/games">Games</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/ranks">Ranks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/goals">Goals</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/players">Players</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/teams">Teams</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/users/history">History</a>
  </li>
</ul>
