<div class="player-card">
  <div class="player-aside"></div>
  <div class="player-info">
    <div class="card-header">
        <div class="name">
          <h4>{{ player.name }}</h4>
        </div>
        <div class="card-buttons">
          <button class="btn btn-primary">Make offer</button>
        </div>
    </div>
    <div class="player-details">
      <div class="player-rank">
        <h5>Rank:</h5> 
        {{ player.rank }}
      </div>
      <div class="player-server">
        <h5>Server:</h5>
         {{ player.server }}
      </div>
      <div class="player-decency">
        <h5>Decency:</h5>
         {{ player.decency }}
      </div>
    </div>
  </div>
</div>
