<div class="row first-conteiner">

  <div class="col-12">
    <div class="card text-center" id="userCard" style="height:100vh">
      <div class="card-header">
        Players Info
      </div>
      <div class="card-body">
        <div class="center-elements">
          <p class="text-primary">You can create only one player by one game!</p>
          <button id="create-button" type="submit" class="btn btn-primary" (click)="createPlayer()"
            [disabled]="players.length >= numberOfGames">
            CREATE PLAYER
          </button>
        </div>
        <table>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Player</th>
              <th scope="col">Game</th>
              <th scope="col">Rank</th>
              <th scope="col" colspan="2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of players; index as i">
              <ng-container *ngIf="item.id !== 0">
                <td scope="row">{{ i + 1 }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.game }}</td>
                <td>{{ item.rank }}</td>
                <td>
                  <button class="action-button" (click)="editPlayer(item)">
                    Edit
                  </button>
                </td>
                <td>
                  <button class="action-button" (click)="deletePlayer(item.game)">
                    Delete
                  </button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
