#conteiner-forgotPassword{
    background-color: #f2f6f9;
}

#forgotForm{
    margin-top: 80px;
    margin-bottom: 10px!important;
}

#account-line {
    margin: 0;
    padding: 0;
}

#sub{
    margin-bottom: 330px;
}