<hr id="account-line">
<div class="conteiner" id="conteiner-forgotPassword">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">

      <div class="form-group" id="forgotPasswordForm">
        <h4>Forgot Your password?</h4><br>

        <form (submit)="onSubmit()" [formGroup]="formModelForgotPassword" autocomplete="off">

          <div class="form-group required">
            <label>Email*</label>
            <input class="form-control" formControlName="email">
            <small class="form-text text-muted" id="emailHelp">
              Enter Email of Your account
            </small>
            <label *ngIf="formModelForgotPassword.get('email').touched && formModelForgotPassword.get('email').errors?.required"
                   class="text-danger">
              This field is mandatory.</label>
            <label *ngIf="formModelForgotPassword.get('email').touched && formModelForgotPassword.get('email').errors?.email"
                   class="text-danger">
              Invalid email address.</label>
          </div>

          <div class="form-group" id="sub">
            <button [disabled]="!formModelForgotPassword.valid" class="btn btn-primary" type="submit">
              Submit
            </button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<hr id="account-line">
