<div class="row first-conteiner">

  <div class="col-12">
    <div class="card text-center" id="userCard">
      <div class="card-header">
        Players Info
      </div>
      <div class="card-body">

        <form (submit)="onSubmit()" [formGroup]="formModelPlayer" autocomplete="off">

          <div class="row justify-content-between">
            <div class="col-md-6 form-group required">
              <label class="labelLeft">Name*</label>
              <input [(ngModel)]="player.name" class="form-control" formControlName="name"/>
              <small class="form-text text-muted" id="playerNameHelp">Playername must be 4-16 characters long.</small>
              <label *ngIf="formModelPlayer.get('name').touched && formModelPlayer.get('name').errors?.required"
                     class="text-danger">
                This field is mandatory.</label>
              <label *ngIf="formModelPlayer.get('name').touched && formModelPlayer.get('name').errors?.minlength"
                     class="text-danger">
                Minimum 4 characters required.</label>
              <label *ngIf="formModelPlayer.get('name').touched && formModelPlayer.get('name').errors?.maxlength"
                     class="text-danger">
                Maximum 16 characters required.</label>
            </div>

            <div class="col-md-6 form-group required">
              <label>Game*</label>
              <ng-multiselect-dropdown [(ngModel)]="player.game" [data]="dropdownListGame" [placeholder]="'Choose game'"
                                       [settings]="dropdownSettingsGame" formControlName="game">
              </ng-multiselect-dropdown>
              <label *ngIf="formModelPlayer.get('game').touched && formModelPlayer.get('game').errors?.required"
                     class="text-danger">
                This field is mandatory.</label>
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="col-md-6 form-group required">
              <label>Server*</label>
              <ng-multiselect-dropdown [(ngModel)]="player.server" [data]="dropdownListServer"
                                       [placeholder]="'Choose server'" [settings]="dropdownSettingsServer"
                                       formControlName="server">
              </ng-multiselect-dropdown>
              <label *ngIf="formModelPlayer.get('server').touched && formModelPlayer.get('server').errors?.required"
                     class="text-danger">
                This field is mandatory.</label>
            </div>

            <div class="col-md-6 form-group required">
              <label>Goal*</label>
              <ng-multiselect-dropdown [(ngModel)]="player.goal" [data]="dropdownListGoal" [placeholder]="'Choose goal'"
                                       [settings]="dropdownSettingsGoal" formControlName="goal">
              </ng-multiselect-dropdown>
              <label *ngIf="formModelPlayer.get('goal').touched && formModelPlayer.get('goal').errors?.required"
                     class="text-danger">
                This field is mandatory.</label>
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="col-md-6 form-group required">
              <label>Rank*</label>
              <ng-multiselect-dropdown [(ngModel)]="player.rank" [data]="dropdownListRank" [placeholder]="'Choose rank'"
                                       [settings]="dropdownSettingsRank" formControlName="rank">
              </ng-multiselect-dropdown>
              <label *ngIf="formModelPlayer.get('rank').touched && formModelPlayer.get('rank').errors?.required"
                     class="text-danger">
                This field is mandatory.</label>
            </div>

            <div class="col-md-6 form-group required">
              <label>Decency*</label>
              <input [(ngModel)]="player.decency" class="form-control" formControlName="decency" type="number"/>
              <small class="form-text text-muted" id="playerDecencyHelp">Decency must be in range: 1-10000</small>
              <label *ngIf="formModelPlayer.get('decency').touched && formModelPlayer.get('decency').errors?.required"
                     class="text-danger">
                This field is mandatory.</label>
              <label *ngIf="formModelPlayer.controls['decency'].hasError('min') || formModelPlayer.controls['decency'].hasError('max')"
                     class="text-danger">
                Decency out of range.</label>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-md-6 form-group shadow-textarea">
              <label>About</label>
              <textarea [(ngModel)]="player.about" class="form-control z-depth-1" formControlName="about" id="exampleFormControlTextarea3"
                        rows="5">
            </textarea>
            </div>
          </div>

          <div class="form-group center-elements">
            <button [disabled]="!formModelPlayer.valid" class="btn btn-primary" id="create-button" type="submit">
              CREATE PLAYER
            </button>
          </div>
        </form>

        <hr>
        <div class="center-elements">
          <button (click)="cancel()" class="btn btn-info" id="create-button">
            CANCEL
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
