<div>
  <h4 style="margin-left: 10px;">Filters: </h4>
  <div class="nickname-filter">
    <h6 style="margin-left: 10px;">Search by name: </h6>
    <div class="nickname-block">
      <input [(ngModel)]="filterFields.name" class="form-control" placeholder="Nickname" type="text">
    </div>
  </div>
  <div class="decency-filter">
    <h6 style="margin-left: 10px;">Decency level: </h6>
    <div class="decency-slider">
      <ng5-slider [(highValue)]="filterFields.decencyRight" [(value)]="filterFields.decencyLeft"
                  [options]="optionsDecency"></ng5-slider>
    </div>
  </div>
  <div class="rank-filter">
    <h6 style="margin-left: 10px;">Player`s rank: </h6>
    <div class="rank-slider">
      <ng5-slider [(highValue)]="filterFields.rankRight" [(value)]="filterFields.rankLeft"
                  [options]="optionsRank"></ng5-slider>
    </div>
  </div>
  <div class="sort-block">
    <h6 style="margin-left: 10px;">Sort by: </h6>
    <select (change)="SortChanged()" [(ngModel)]="filterFields.sortingField" class="browser-default custom-select">
      <option value="0">Without sorting</option>
      <option value="rank">Rank</option>
      <option value="decency">Decency</option>
    </select>
    <h6 style="margin-left: 10px;">Sort type: </h6>
    <select [(ngModel)]="filterFields.sortingType" [disabled]="sortEnabled" class="browser-default custom-select">
      <option value="asc">Ascending</option>
      <option value="desc">Descending</option>
    </select>
  </div>
  <h6 style="margin-left: 10px;">Players on page: </h6>
  <div class="pageSize">
    <div class="btn-group" role="group">
      <button (click)="filterFields.playersOnPage = 5" class="btn btn-outline-primary" type="button">5</button>
      <button (click)="filterFields.playersOnPage = 10" class="btn btn-outline-primary" type="button">10</button>
      <button (click)="filterFields.playersOnPage = 15" class="btn btn-outline-primary" type="button">15</button>
    </div>
  </div>
  <div class="sort-block">
    <button (click)="updateSortFields()" class="btn btn-primary" type="submit">
      Find players
    </button>
  </div>
</div>

