.form-control{
    width: 100%;
}

.nickname-block{
    width: 100%;
    align-items: center;
    display: flex;
    padding: 7px;
}

.decency-slider{
    padding: 10px;
}

.decency-filter{
    margin-top: 20px;
}

.nickname-filter{
    margin-top: 20px;
}

.rank-slider{
    padding: 10px;
}

.rank-filter{
    margin-top: 20px;
}

.sort-block{
    margin-top: 10px;
    padding: 10px;
}

.pageSize{
    margin-left: 10px;
}