<hr id="account-line">
<div class="conteiner" id="conteiner-changePassword">

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">

      <div class="form-group" id="changePasswordForm">
        <h4>Change Password</h4><br>

        <form (submit)="onSubmit()" [formGroup]="formModelChangePassword" autocomplete="off">

          <div class="form-group required">
            <label>Current Password*</label>
            <input class="form-control" formControlName="currentPassword" type="password">
            <label *ngIf="formModelChangePassword.get('currentPassword').touched && formModelChangePassword.get('currentPassword').errors?.required"
                   class="text-danger">
              This field is mandatory.</label>
          </div>

          <div class="form-group required">
            <label>New Password*</label>
            <input class="form-control" formControlName="newPassword" type="password">
            <small class="form-text text-muted" id="passwordHelp">
              Minimum 6 characters. Maximum 16 characters.
            </small>
            <label *ngIf="formModelChangePassword.get('newPassword').touched && formModelChangePassword.get('newPassword').errors?.required"
                   class="text-danger">
              This field is mandatory.</label>
            <label *ngIf="formModelChangePassword.get('newPassword').touched && formModelChangePassword.get('newPassword').errors?.minlength"
                   class="text-danger">
              Minimum 6 characters required.</label>
            <label *ngIf="formModelChangePassword.get('newPassword').touched && formModelChangePassword.get('newPassword').errors?.pattern"
                   class="text-danger">
              Password can contain at least 1 lowercase, 1 uppercase alphabetical character, and at least 1 numeric
              character</label>
          </div>

          <div class="form-group required">
            <label>Confirm Password*</label>
            <input class="form-control" formControlName="confirmPassword" type="password">
            <label *ngIf="formModelChangePassword.get('confirmPassword').touched && formModelChangePassword.get('confirmPassword').errors?.required"
                   class="text-danger">
              This field is mandatory.</label>
            <label *ngIf="formModelChangePassword.get('confirmPassword').touched && formModelChangePassword.get('confirmPassword').errors?.passwordMismatch"
                   class="text-danger">
              Confirm Password does not match.</label>
          </div>

          <div class="form-group">
            <button [disabled]="!formModelChangePassword.valid" class="btn btn-primary" type="submit">
              CHANGE PASSWORD
            </button>
          </div>

        </form>

        <div id="forgotpasswordLink"><a routerLink="/account/forgot-password" routerLinkActive="active">
          Forgot your password?</a>
        </div>

      </div>
    </div>
  </div>
</div>
<hr id="account-line">
