#conteiner-register {
  background-color: #f2f6f9;
}

#conteiner-changePassword {
  background-color: #f2f6f9;
}

#changePasswordForm {
  margin-top: 80px;
  margin-bottom: 100px !important;
}

#forgotPasswordLink {
  text-align: center;
}

#registerForm {
  margin-top: 80px;
  margin-bottom: 80px;
}

#account-line {
  margin: 0;
  padding: 0;
}

#site-rules-title {
  font-size: 12px;
  font-weight: lighter;
}

#linkTologin {
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
}
