<app-header></app-header>
<div class="container" id="games">
  <div class="row">
    <div class="col-md-4">
      <div class="card games w-100">
        <img alt="Card image cap"
             class="card-img-top card-b"
             src="../../../assets/cs.jpg">
        <div class="card-body">
          <h5 class="card-title">Counter-Strike GO</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card games w-100">
        <img alt="Card image cap"
             class="card-img-top card-b"
             src="../../../assets/gta.jpg">
        <div class="card-body">
          <h5 class="card-title">GTA 5</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card games w-100">
        <img alt="Card image cap" class="card-img-top card-b"
             src="../../../assets/DOTA.png">
        <div class="card-body">
          <h5 class="card-title">Dota 2</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</div>
