<img  src="/assets/Soldier.jpg" id="header-img">

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card-deck" id="mainImage">

        <div class="card">
          <img class="card-img-top" src="https://static.posters.cz/image/750/%D0%9F%D0%BB%D0%B0%D0%BA%D0%B0%D1%82/counter-strike-team-i48831.jpg" alt="Card image cap">
          <div class="card-body card-b">
            <h5 class="card-title textC">Counter Strike</h5>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" src="https://cdn.cdkeys.com/500x706/media/catalog/product/g/r/grand_theft_auto_v_5_gta_5_pc_3.jpg" alt="Card image cap">
          <div class="card-body card-b">
            <h5 class="card-title textC">Get Grand Theft Auto V 5 (GTA 5)</h5>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" src="https://www.speedrun.com/themes/Dota_2/cover-256.png" alt="Card image cap">
          <div class="card-body card-b">
            <h5 class="card-title textC">DOTA 2</h5>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" src="https://2ch.hk/b/src/186395502/15419478991110.jpg" alt="Card image cap">
          <div class="card-body card-b">
            <h5 class="card-title textC">Battlefield 5 Deluxe</h5>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
