<app-header></app-header>
<div class="container" id="games">
  <div class="row">
    <div class="col-md-4">
      <div class="card games w-100">
        <img class="card-img-top card-b"
             src="https://static.posters.cz/image/750/%D0%9F%D0%BB%D0%B0%D0%BA%D0%B0%D1%82/counter-strike-team-i48831.jpg"
             alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card games w-100">
        <img class="card-img-top card-b"
             src="https://cdn.cdkeys.com/500x706/media/catalog/product/g/r/grand_theft_auto_v_5_gta_5_pc_3.jpg"
             alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card games w-100" >
        <img class="card-img-top card-b" src="https://www.speedrun.com/themes/Dota_2/cover-256.png"
             alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>
    </div>
  </div>
</div>
