<section class="cs-players">
  <div class="card sticky-top">
    <app-players-filtering>
    </app-players-filtering>
  </div>

  <div class="players-list">
    <app-cs-player
      *ngFor="let player of players"
      [player]="player">
    </app-cs-player>
    <div *ngIf="pageView.totalPages !== 0" class="pagination">
      <button (click)="loadPreviousPage()"
              [disabled]="!pageView.hasPreviousPage"
              [ngClass]="{
              'disabled': !pageView.hasPreviousPage
            }"
              class="page-item pagination-button">
          <span class="page-link">
            Previous
          </span>
      </button>
      <button (click)="switchPage(i+1)"
              *ngFor="let pag of paginationArray; let i = index"
              [ngClass]="{
              'active': pageView.pageNumber === i + 1
            }"
              class="page-item pagination-button">
          <span class="page-link">
            {{ i + 1 }}
          </span>
      </button>
      <button (click)="loadNextPage()"
              [disabled]="!pageView.hasNextPage"
              [ngClass]="{
              'disabled': !pageView.hasNextPage
            }"
              class="page-item pagination-button">
          <span class="page-link">
            Next
          </span>
      </button>
    </div>
  </div>
</section>
