<div *ngIf="isLogin == false">
  <button class="btn btn-outline-dark" id="btn-login" routerLink='/account/login' routerLinkActive='active'
          type="button">LOG IN
  </button>
  <button class="btn btn-primary" id="btn-register" routerLink='/account/registration'
          routerLinkActive='active' type="button">REGISTER
  </button>
</div>

<div *ngIf="isLogin == true" class="dropdown" ngbDropdown>
  <button aria-expanded="false" aria-haspopup="true" class="btn btn-link dropdown-toggle" id="dropdownMenuButton"
          ngbDropdownToggle type="button"><img id="avatar" src="{{ this.service.getItem('photo') }}"><span
    id="avatarUserName">
        {{this.service.getItem("userName")}}</span></button>
  <div aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
    <a class="dropdown-item" routerLink='/userprofile' routerLinkActive='active'>Manage Profile</a>
    <a (click)="onLogout()" class="dropdown-item" id="logout" routerLink="/home">Log Out</a>
  </div>
</div>
