.first-conteiner {
  margin-right: 50px;
  margin-left: 50px;
}

#create-button {
  margin: 0;
  width: 100%;
}

.center-elements {
  text-align: center;
}

#userCard {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 300px;
}

div#userCard.card.text-center {
  text-align: left !important;
}

.card-header {
  text-align: center !important;
  font-size: 20px;
  font-weight: bold;
  size: 14px;
  margin: 0;
  padding: 10px;
  background-image: url(https://d6d90m6b4vcx.cloudfront.net/prod/release-2-3-2a6c9b6e/react-packages/static/media/statistics.8bf73563.png);
  background-size: cover;
  opacity: .9;
}

.action-button {
  background-color: transparent;
  border: none;
  color: blue;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#cardUploadAvatar {
  display: block;
  margin: 0 auto;
  width: 250px;
  background: rgb(206, 231, 255);
  padding: 5px;
  border-radius: 25px;
  border: 1px solid rgb(224, 221, 221);
  margin-bottom: 10px;
}

#avatarInProfile {
  //display: block;
  margin: 0 auto;
  padding: 0;
  width: 200px;
}

.player-name {
  font-size: 20px;
  color: rgb(0, 102, 255);
  font-weight: bold;
}

.player-about-text {
  border-radius: 5px;
  background-color: #f2f6f9;
  height: 150px;
  padding: 10px 20px;
  overflow-y: auto;
}

#containerProfile {
  background-color: #f2f6f9 !important;
}

.field-name {
  font-size: 14px;
  color: gray;
  text-align: center;
  font-weight: normal;
  margin: 0;
}

.field-value {
  font-size: 16px;
  color: black;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  padding: 0;
  border: 1px solid gray;
}

.image-cropper-team {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  padding: 0;
  border: 1px dashed gray;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}

.dark-modal .close {
  color: white;
}

.light-blue-backdrop {
  background-color: #5cb3fd;
}

.modal-body {
  margin: 0;
  padding: 0 0 0 10px;
}

hr {
  margin-top: 5px;
}

a:hover {
  text-decoration: none;
}
